{
  "presets": ["react", "stage-0", "env"],
  "plugins": [
    "react-hot-loader/babel",
    "flow-react-proptypes",
    "transform-class-properties",
    "transform-flow-strip-types",
    "ramda"
  ]
}
