{
  "presets": ["react", "stage-0", "env"],
  "plugins": [
    "flow-react-proptypes",
    "transform-class-properties",
    "transform-flow-strip-types",
    "ramda"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "transform-console-log-variable-names",
        "console-groupify"
      ]
    }
  }
}
