{
  "presets": [
    "react",
    "stage-0",
    [
      "env",
      {
        "targets": {
          "browsers": [">0.25%"]
        },
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": ["transform-class-properties"],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "transform-console-log-variable-names",
        "console-groupify"
      ]
    },
    "production": {
      "plugins": ["lodash", "transform-react-remove-prop-types"]
    }
  }
}
