{
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "plugins": ["flowtype", "react", "import"],
  "rules": {
    // Prettier always removes these if only 1 parameter.
    "arrow-parens": 0,
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "react/sort-comp": [
      1,
      {
        "order": [
          "props",
          "state",
          "type-annotations",
          "static-methods",
          "lifecycle",
          "everything-else",
          "render"
        ]
      }
    ],
    "flowtype/define-flow-type": 2,
    "max-len": ["error", 100],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ]
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack/webpack.config.dev.js"
      },
      "node": {
        "moduleDirectory": ["node_modules", "./src"]
      }
    }
  }
}
