{
  "extends": "airbnb",
  "rules": {
    "no-global-assign": 0,
    "no-underscore-dangle": 0,
    "new-cap": 0,
    "no-unsafe-negation": 0,
    "comma-dangle": 0,
    "arrow-body-style": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": [
      "error", {
        "devDependencies": true,
      }
    ],
    "react/jsx-filename-extension": [
      "error", {
        "extensions": [
          ".js"
        ]
      }
    ],
    "react/prefer-stateless-function": 0,
    "react/self-closing-comp": 0
  },
  "globals": {
    "describe": false,
    "it": false,
    "before": false,
    "beforeEach": false,
    "after": false,
    "afterEach": false,
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack/webpack.config.dev.js"
      }
    }
  }
}
