@import 'variables';
@import 'animations';

.loading-spinner(
	@size: @loading-spinner__size,
	@color: @loading-spinner__color,
	@border-size: @loading-spinner__border--size,
	@duration: @loading-spinner__animation--duration
) {
  width: @size;
  height: @size;
  border: @border-size solid fadeout(@color, 75);
  border-left-color: @color;
  border-radius: 50%;
  position: relative;
  animation: loading-spinner--rotate @duration linear infinite;
  composes: loading-spinner--rotate from '../utils/animations.less';
}
